@model UserStore.BLL.Entities.Story


@using (Html.BeginForm("Stories", "Story", new { id = @Model.Id }))
{
    <div class="= card">
        <h1><strong>@Model.Theme</strong></h1>
        <p>@Model.Stories</p>
        <input type="submit" class="btn-primary" value="See" />
   </div>

}


  
