@model List<UserStore.BLL.Entities.Comment>


<ul>
    @foreach (var item in Model)
    {
        <div class="card">
            <li>Name: @item.User.Email</li>
            <li>Time: @item.TimePublicate</li>
            <li>Comment: @item.Text</li>
        </div>
     }
    </ul>

